@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@800&family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

header {
    font-family: 'Lato', sans-serif;
    background:#F6F930;
}

input {
    outline: none;
}

/* Utilities */
.secondary-color {
    color: #00635D;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

/* Navigation */
#nav--bar {
    display: block;
    padding: 5px;
}

#nav--bar .nav-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart-button{
    color: #00635D;
}

.cart-button:hover{
    width: 26px;
    height: 26px;
    transition: width 2s;
}

/* Search Input */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.search-box button {
    border: none;
    background: none;
    font-size: 17px;
    padding: 5px;
}

.search-box input {
    padding: 6.5px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #aaa;
    color: #fff;
}

.search-box input:focus {
    background: #00000d;
}

.search-box button:hover {
    color: #00635D;
}

/* Show case */
#show-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-columns: minmax(100px, auto);
    gap: 8px;
    padding: 10px;
}

#show-content .box1{
    border: 1px solid #aaa;
    border-radius: 25px;
    background: #F6F930;
    font-weight: bold;
    font-style: italic;
    color: #00635D;
    height: 400px;
}
#show-content .box1:hover {
    box-shadow: 10px 10px 5px #aaa;
   }

#show-content .box1 img {
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0 0;
}

#show-content .box1 button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #00635D;
    width: 30%;
    padding: 5px;
    border-radius: inherit;
    margin: auto;
}

#show-content .box1 p {
    text-align: center;
    margin-bottom: 10px;
}

/* Footer */
.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    background: #00635D;
    color: #F6F930;
    margin-top: 10px;
}

.main-footer input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 400px;
}

.main-footer button {
    border: none;
    background: #F6F930;
    color: #00635D;
    padding: 5px;
    border-radius: 5px;
    margin:10px 0;
}

#detail--section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background: #f4f4f4;
    margin: auto;
 }

 #detail--section h1 {
    text-align: center;
    font-style: italic;
 }

 #detail--section .product_detail img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    width: 50%;
    height: 50%;
 }

 #detail--section .product_detail .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
 }

 #detail--section .product_detail .detail p {
    padding-right: 5px;
    line-height: 1.7rem;
 }

 #detail--section p {
    line-height: 1.7rem;
 }
 .promotions ul {
    padding: 0 30px 0;
 }

 .promotions ul li {
    list-style: circle;
    line-height: 1.7rem;
 }

 .add-to-cart {
    display: block;
    width: 40%;
    padding: 5px;
    background: #00635D;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color:#f4f4f4;
 }

 .add-to-cart:hover {
    color: #F6F930;
    background: #033531;
 }